<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ADOconnSQL" connectionString="Data Source=.\SQLEXPRESS2;Initial Catalog=BikeRepairShop;Integrated Security=True"/>
	</connectionStrings>
</configuration>
<!-- App.config moet in project staan in het project dat effectief gerunt wordt. -->